.Mahsulots {
  background-image: url(../../Assets/Images/barg.png),url(../../Assets/Images/leafss.png);
  background-repeat: no-repeat;
  background-position: right -50px bottom 10px, left 210px top 45px;
  background-size: 500px, 250px;
}
